#container { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    
} 
 
nav ul li { 
    display: inline-block; 
    list-style: none; 
    margin: 30px 125px 10px 0px; 
 
} 
 
nav ul li a { 
    color: #c06363; 
    text-decoration: none; 
    font-size: 40px; 
    position: relative; 
 
} 
 
nav ul li a::after { 
    content: ''; 
    width: 0%; 
    height: 3px; 
    background: #6f3206; 
    position: absolute; 
    left: 0; 
    bottom: -6px; 
    transition: 0.5s; 
 
} 
 
nav ul li a:hover::after { 
    width: 100%; 
} 
 
#home { 
   
    height: 50vh; 
    background: linear-gradient(to right, #1d4251, #875c82, #f09ec3);
    
} 
 
#home>#h01 { 
    color: rgb(12, 8, 8); 
    padding-top: 80px; 
    text-align: center; 
    font-size: 100px; 
} 
 
#about { 
    
    height: 100vh; 

    text-align: center; 
    font-size: 25px; 
} 
#ta {
    width: 200px;
    height: 200px;
}
 
#product { 
   
    height: 200vh; 
  
   
} 
 
 
#product1 { 
    text-align: center; 
    font-size: 45px; 
    color: rgb(18, 15, 15); 
} 
 
#choco1 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco2 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco3 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco4 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco5 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco6 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco7 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco8 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco9 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco10 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco11 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#choco12 { 
    height: 300px; 
    width: 300px; 
    padding: 35px 35px 35px 35px; 
} 
 
#order1 { 
    text-align: center; 
    font-size: 40px; 
}